@import 'variables';
@import 'fonts';
html, body, header, footer, h1, h2, h3, h4, h5, h6, p, ul, ol, dir, menu, blockquote{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul{
    list-style: none;
    display: block;
    li{
        display: block;
    }
}
a{
    text-decoration: none;
}

body{
    font-family: 'OpenSans';
    font-size: 16px;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

.header{
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 20px 25px;
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    a{
        color: #fff;
        &:hover{
            text-decoration: underline;
        }
    }
}
.footer{
    background: #000;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}
.menuDesktop{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    li + li{
        margin-left: 20px;
    }
}
#menuMobile{
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    img{
        height: 100%;
        width: 100%;
    }
}
.contentMain{
    padding: 93px 25px 25px 25px;
    min-height: calc(100vh - 42px);
}
.slideWrapper{
    margin: 50px auto;
}
.swiper {
    width: 100%;
}

@media(max-width: $breakpointMobile){
    .menuDesktop{
        display: none;
    }
    #menuMobile{
        display: block;
    }
}